@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
.navbar .container-fluid{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.navbar-brand img{
    height: 50px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.nav-item{
    /* margin-left: 30px; */
}
.nav-item:hover a{
    color:#be9c79;
    text-decoration: underline;
}
 .nav-link {
    font-size: 20px;
    color:#333;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 0 10px 0 10px;
}
.herosection .container-fluid{
    position: relative;
    background-image:linear-gradient(to right, rgb(240, 233, 233), transparent 40%), url(./images/home-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 18% 10%;
}

.herosection .container-fluid .col-md-6{
    

}
.col-md-6 h3{
    font-size: 45px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}
.col-md-6 p{
    font-size: 16px;
    line-height: 2;
    padding: 20px 0;
    font-family: sans-serif;
}
.col-md-6 .btn{
    padding: 10px 30px;
    border-radius: 0;
    background-color:#be9c79 ;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}
.card-body h5{
    font-size: 45px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}
.facilitiesheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ourfacilities img{
    height: 45px;
    text-align: center;
    margin: 20px 0;
}
.ourfacilities h3{
    font-size: 40px;
    text-align: center;
    font-family: 'merienda',cursive;
    padding-right: 20px;
    margin-bottom: 20px;
}
.col-md-3 .facilitiescard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.facilitiescard img{
    height: 100px;
}
.facilitiescard p{
    text-align: center;
}
.menuheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuheading img{
    height: 45px;
    text-align: center;
    margin: 20px 0;
}
.menuheading h3{
    font-size: 40px;
    text-align: center;
    font-family: 'merienda',cursive;
    padding-right: 20px;
    margin-bottom: 20px;
}
.ourgallery .container{
    /* background-color: red; */
}
.ourgallery .galleryheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.galleryheading img{
    height: 45px;
    text-align: center;
    margin: 20px 0;
}
.galleryheading h3{
    font-size: 40px;
    font-family: 'merienda',cursive;
}
.ourgallery .gallerycard img{
    display: flex;
    flex-wrap: nowrap;
    background-size: cover;
    overflow: hidden;
    margin: 20px 0;
    
}
.custom-margin{
    width: 80%;
}
.teamheading img{
    height: 45px;
    text-align: center;
    margin: 20px 0;
}
.teamheading h3{
    font-size: 40px;
    font-family: 'merienda',cursive;
    margin-bottom: 20px;
}
.teamheading h5{
    margin-bottom: 20px;
}
.contactheading img{
    height: 45px;
    text-align: center;
    margin: 20px 0;
}
.contactheading h3{
    font-size: 40px;
    font-family: 'merienda',cursive;
    margin-bottom: 20px;
}
.contactform{
    width: 90%;
    margin-left: 50px;
    border: 1px solid #444444;
    padding: 25px 30px 30px 30px;
}
.contactform .form-control{
    padding: 15px 0px 15px 20px;
    color: #444444;
}
.contactform h4{
    margin-bottom: 30px;
}
.detailsbox i{
    font-size: 24px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #be9c79;
    color: white;
    align-items: center;
    /* padding: 20px 0; */
    margin-top: 30px;
}
.detailsbox h3{
    padding: 20px 0 0 0;
    /* margin-top:20px; */
    font-size:18px;
    color: rgb(7, 7, 7);
    font-family: 'nunito',sans-serif;
    font-weight: 400;
}
.detailsbox p{
    font-size: 16px;
    color: #444444;
    font-family: 'nunito',sans-serif;
    line-height:0;
}
.credit{
    text-align: center;
    align-items: center;
    margin-bottom: 25px; 
    padding-top: 24px;
    border-top: var(--border);
    font-size: 16px;
    color: var(--black);
    width: 100%;
}

 .credit{
    font-size: 16px;
    font-family: 'nunito',sans-serif;
    border-top: 1px solid #333;
}
.credit span{
    color: #be9c79;
}
